<div class="sidebar">
   <div class="head d-flex align-items-center">
      <img src="./../../assets/imgs/Logo.png" alt="">
      <p class=" text mt-2"  [ngClass]="{'textDisplay' : isMobile}">FSL Procurement</p>
   </div>
   <div  [ngClass]="{'list2' : isMobile , 'list':islist}" >
      <span *ngFor="let item of menuItems"  class="entry" routerLink={{item.label}}  (click)="sendDataToNavbar({ label: item.label})">
            <i class= {{item.iconClass}} ></i>
            <p class=" text mt-3" routerLink={{item.label}}  [ngClass]="{'textDisplay' : isMobile}">{{item.label}}</p>
           
               <i class={{item.iconClass2}} (click)="display()" [ngClass]="{'textDisplay' : isMobile}" style="margin: 0;
               font-size: 15px;
               padding-left: 32px;"></i>
                   
             
            </span>
        <span class="entry my-0" routerLink="Users" (click)="sendDataToNavbar({ label: 'Users'})" >
        <i class="fa-solid fa-users" (click)="display()" ></i>
        <p class=" text mt-2"  [ngClass]="{'textDisplay' : isMobile}"  >Users    </p>
        <i class="fa-solid fa-chevron-down text" (click)="display()" [ngClass]="{'textDisplay' : isMobile}" style="margin: 0;
        font-size: 15px;
        padding-left: 35px;"></i>
        </span>
        <ul [ngClass]="{'hide' : isdisplay,'sideView':isMobile}" >
        <li>User no. 1 </li>
        <li>User no. 2</li>
        <li>User no. 3</li>
        <li>User no. 4</li>
        </ul>
     
     
         <span *ngFor="let item of menuItems2"  class="entry" routerLink={{item.label}}  (click)="sendDataToNavbar({ label: item.label})">
               <i class= {{item.iconClass}} ></i>
               <p class=" text mt-3" routerLink={{item.label}}  [ngClass]="{'textDisplay' : isMobile}">{{item.label}}</p>
              
                  <i class={{item.iconClass2}} (click)="display()" [ngClass]="{'textDisplay' : isMobile}" style="margin: 0;
                  font-size: 15px;
                  padding-left: 32px;"></i>
                      
                
               </span>
         
   </div>

   <div class="button d-flex">
      
      <i class="fa-solid mx-2 fa-arrow-right-from-bracket"></i>
      <p class=" text mt-2" [ngClass]="{'textDisplay' : isMobile}" >Logout</p>
  
   </div>
</div>